<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/style.css') }}">
    <title>Metro Bike Share Los Angeles</title>
    <script>
        // Function to handle "Copy from Clipboard" button click event
        function copyFromClipboard() {
            // Check if the Clipboard API is supported
            if (navigator.clipboard && navigator.clipboard.readText) {
                // Read the text from the clipboard
                navigator.clipboard.readText().then(function(text) {
                    // Extract the latitude and longitude from the clipboard text
                    var coordinates = text.trim().split(',');
                    if (coordinates.length === 2) {
                        // Set the latitude and longitude values in the input fields
                        document.getElementById('latitude').value = coordinates[0].trim();
                        document.getElementById('longitude').value = coordinates[1].trim();
                    }
                }).catch(function(error) {
                    console.error('Failed to read clipboard contents:', error);
                });
            } else {
                console.error('Clipboard API not supported.');
            }
        }
    </script>
</head>
<body>
<div class="container">
    <header>
        <h1>Metro Bike Share Los Angeles</h1>
    </header>

        <div class="user-input">
            <h2>User Input</h2>
            <form action="/" method="POST">
                <label class="input-label" for="latitude">Latitude:</label>
                <input class="input-field" type="text" id="latitude" name="latitude" required><br><br>

                <label class="input-label" for="longitude">Longitude:</label>
                <input class="input-field" type="text" id="longitude" name="longitude" required><br><br>

                <input class="submit-button" type="submit" value="Submit Location">
                <button class="clipboard-button" onclick="copyFromClipboard()">Copy from Clipboard</button><br>

                <label><input class ="checkbox" type="checkbox" name="searchBike" id="searchBike"> Search Bike</label>
                <label><input class ="checkbox" type="checkbox" name="searchDocks" id="searchDocks"> Search Docks</label>
                <input class = "small-input" type="number" name="available_pieces" id="available_pieces" placeholder="min"><br><br>

                <label class="input-label" for="rankings">Number of Rankings:</label>
                <input class="input-field" type="text" id="rankings" name="rankings"><br><br>

                <label>Destination:</label>
                    <input type="text" name="destLat" id ="destLat" placeholder="Latitude">
                    <input type="text" name="destLong" id ="destLong" placeholder="Longitude"><br><br>
                    <input type="submit" value="Search Route"><br><br>

            </form>


            <h3>Current Latitude: {{ latitude or 34.04919}}</h3>
            <h3>Current Longitude: {{ longitude or -118.24799}}</h3>


        </div>

    <div class="dataframe-container">
        <h2 class="dataframe-title">Top Rankings Dataframe:
        {% if search_bikes %}
            searchBike Task1
        {% elif search_docks %}
            searchDocks Task2
        {% else %}
            no checkbox selected no filter applied!
        {% endif %}
        </h2>
        {{ df_html | safe }}
    </div>

    <div class="map">
        {% include 'map.html' %}
    </div>

    <footer>
        Data from: https://bikeshare.metro.net/stations/json
    </footer>

</div>
</body>
</html>
